<!DOCTYPE html>
<html>
<head>
	<title>Locations Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<header class=" header container-fluid">
		<h1>LOCATIONS</h1>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>BREW ELMHURST</h2>
				<p>Located in beautiful downtown Elmhurst Illinois on York Rd.</p>
                <P> 1223 York Rd</P> 
				<P>Elmhurst, IL 60608</P>      	 
            </div>
            <div class="col-md-6">
            	<h2>BREW OAK BROOK</h2>
            	<p>In the heart of butterfield square</p>
            	<p>1222 Butterfield</p>
            	<p>Oak Brook, IL 60606</p>
            </div>
        </div> 
    </div>
    <div class="container">
    	<div class="row">
    		<div class="col-md-6">
    			<h2>BREW DEERFIELD</h2>
    			<p>Right on the lake in the North Shore</p>
    			<p>3333 Willow Rd</p>
    			<P>Deerfield, IL 56673</P>
            </div>
    		<div class="col-md-6">
    			<h2>BREW FRANKFORT</h2>
    			<p>Behind the Fire Station in the corner of the Mall</p>
    			<p>2222 Franklin Rd</p>
    			<P>FrankFort, IL 56743</P>
    		</div>
        </div>
    </div>       	
</body>
</html>