
	<header>
	<h1>Brew's Menu</h1>
    </header>
    <div class="container">
    	<div class"row">
    		<div class="col-md-4">
    			<h2>SMALL DRINKS</h2> 
        		<ul>
        			<li>Coffee</li>
        			<li>Cappuccino</li>
        			<li>Tea</li>
        			<li>Hot Chocolate</li>
            	</ul>
    		</div>
        	<div class="col-md-4">
        		<h2>MEDIUM DRINKS</h2>
        		<ul>
        			<li>Expresso</li>
        			<li>Macchiato</li>
                </ul> 
            </div>
        	<div class="col-md-4">
        		<h2>LARGE DRINKS</h2>
            	<ul>
            		<li>Iced Coffee</li>
                   	<li>Iced Cafe Mocha</li>
                   	<li>Iced Chai Latte</li>
            	</ul>
        	</div>
    	</div>
    </div>	    
    <div class="container">
        <div class="row"> 
        	<h3>FLAVORED SYRUPS</h3>
           		<div class="col-md-4">
           			<ul>
           				<li>English Toffee</li>
           				<li>Alomnd Roca</li>
           				<li>Cinnamon</li>
           			</ul>
           		</div>
           		<div class="col-md-4">
           			<ul>
           				<li>Ginger Spice</li>
           				<li>Pumpkin</li>
           				<li>Irish Cream</li>
           			</ul>
           		</div>	
        </div>
    </div>	

    <footer>
    	<h2>Good Eats</h2>
    		<ul>
    			<li>Paninis</li>
    			<li>Muffins</li>
            </ul>
            <ul>
            	<li>Bagels</li>
            	<li>Croissants</li>
            </ul>
    </footer>   